absl-py==2.0.0
aiosignal==1.3.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
boltons @ file:///work/ci_py311/boltons_1677685195580/work
brotlipy==0.7.0
cachetools==5.3.2
certifi @ file:///croot/certifi_1700501669400/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
conda @ file:///croot/conda_1696257509808/work
conda-content-trust @ file:///croot/conda-content-trust_1693490622020/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1696257536937/work/src
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
contourpy==1.2.0
cryptography @ file:///croot/cryptography_1694444244250/work
cycler==0.12.1
decorator==5.1.1
dill==0.3.8
EMD-signal==1.5.2
EntropyHub==0.2
executing==2.0.1
ffmpeg==1.4
filelock @ file:///croot/filelock_1700591183607/work
flatbuffers==23.5.26
fonttools==4.45.1
frozenlist==1.4.1
fsspec==2023.10.0
future==0.18.3
gast==0.5.4
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-auth==2.26.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.60.0
h5py==3.10.0
idna @ file:///work/ci_py311/idna_1676822698822/work
ipython==8.20.0
jedi==0.19.1
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
joblib==1.3.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
keras==2.15.0
kiwisolver==1.4.5
libclang==16.0.6
libmambapy @ file:///croot/mamba-split_1694187754698/work/libmambapy
llvmlite==0.41.1
Markdown==3.5.1
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib==3.8.2
matplotlib-inline==0.1.6
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml-dtypes==0.2.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.0.7
multiprocess==0.70.16
mycolorpy==1.5.1
networkx @ file:///croot/networkx_1690561992265/work
nolds==0.5.2
npm==0.1.1
numba==0.58.1
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp311-cp311-linux_x86_64.whl#sha256=184178a893ff0b5e0cb1b0b7a0dddff49dc91424c4e4a01e29bcb05f27a698a6
oauthlib==3.2.2
opt-einsum==3.3.0
optional-django==0.1.0
packaging @ file:///croot/packaging_1693575174725/work
pandas==2.1.3
parso==0.8.3
pathos==0.3.2
pexpect==4.9.0
Pillow @ file:///croot/pillow_1696580024257/work
pluggy @ file:///work/ci_py311/pluggy_1676822818071/work
pox==0.3.4
ppft==1.7.6.8
prompt-toolkit==3.0.43
protobuf==4.23.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycosat @ file:///croot/pycosat_1696536503704/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.17.2
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML @ file:///croot/pyyaml_1698096049011/work
ray==2.9.0
referencing==0.32.1
requests @ file:///croot/requests_1690400202158/work
requests-oauthlib==1.3.1
rpds-py==0.16.2
rsa==4.9
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
stack-data==0.6.3
sympy @ file:///work/ci_py311_2/sympy_1679339311852/work
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
threadpoolctl==3.2.0
torch==2.1.1
torchaudio==2.1.1
torchdiffeq==0.2.3
torchsde==0.2.6
torchvision==0.16.1
tqdm==4.64.1
traitlets==5.14.1
trampoline==0.1.2
triton==2.1.0
truststore @ file:///croot/truststore_1695244293384/work
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
tzdata==2023.3
urllib3 @ file:///croot/urllib3_1686163155763/work
wcwidth==0.2.13
Werkzeug==3.0.1
wrapt==1.14.1
zstandard @ file:///work/ci_py311_2/zstandard_1679339489613/work
